html {
font-size: 16px;
}

body {
margin: 0;
padding: 0;
font-family: 'Roboto', sans-serif;
font-size: 1rem;
}

h1, h2, h3, h4, h5, h6 {
font-family: 'Inter', sans-serif;
}


#navbar {
padding: 8px;
margin: 0;
}

#logo {
height: 30px;
}

h1 {
text-align: center;
color: darkblue;
}

a {
text-decoration: none; color: #1D4ED8;
}
a:hover, a:focus {
color: #4338CA;
}

#banner {
width: 100%;
object-fit: cover;
}

#about {
display: flex;
max-width: 800px;
margin: 0 auto;
padding: 8px;
}

#description {
width: 50%;
padding-right: 8px;
}

#team {
width: 50%;
}

#image {
border-radius: 5px;
width: 100%;
}

#jobs-table {
width: 100%;
border: 1px solid gray;
border-collapse: collapse;
}

.jobs-header-row th{
border: 1px solid grey;
padding: 8px;
background-color: aliceblue;
text-align: center;
}

.jobs-data-row td{
border-right: 1px solid grey;
padding: 8px;
}

#jobs-table tr:nth-child(odd){
background-color: ghostwhite;
} 

h2 {
text-align: center;
}

#jobs {
max-width: 800px;
margin: 0 auto;
padding: 0 8px;
}

h3 {
margin-bottom: 4px;
margin-top: 0;
}

.apply {
float: right;
}

#application {
max-width: 800px;
margin: 0 auto;
padding: 0 8xp;
}

.form-group {
margin: 16px 0;
}


#application-form div {
margin: 16px 0;
}

#application-form label {
font-weight: 560;
}

#applicaton-form input, select, textarea {
padding: 2px;
font-size: 0.900rem;
margin-top: 4px;
border-radius: 5px;
border: 1px solid gray;
font-family: 'roboto', sans-serif;
}

.form-group textarea {
width: 80%;
font-family: 'roboto', sans-serif;
font-size: 1rem;
}

.form-group input[type="checkbox"]{
width: 16px;
height: 16px;

}

.form-group input[type="submit"] {
background-color: #3b82f6;
color: white;
font-weight: 500;
cursor: pointer;
}

#footer {
background-color: ghostwhite;
padding: 8px;
margin-top: 32px;
text-align: center;
}

#footer-link {
list-style:none;
}

#footer-link li {
display: inline;
margin: 0 16px;
}

.copyright {
color: grey;
font-size: 0.875rem;
}